<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Pierre Barbin">
        <link rel="shortcut icon" href="img/favicon.png">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/lib/materialize/css/materialize.min.css" rel="stylesheet"></link>
        <link rel="stylesheet" href="/static/css/app.css">
        {% block css %}{% endblock %}

        <title>Cap ou pas cap - {% block title %}{% endblock %}</title>

    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
                        <i class="material-icons">
                            menu
                        </i>
                    </a>
                    {% block nav_dropdown %}{% endblock %}
                </div>
            </nav>
        </div>

        <div class="container">
            <ul id="nav-mobile" class="sidenav">
                {% block user_info %}{% endblock %}
                {% block menu %}{% endblock %}
            </ul>

        {% block body %}{% endblock %}

        </div>

        {% block end_html %}{% endblock %}
        <script src="/static/js/Router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/lib/materialize/js/materialize.min.js"></script>
        <script>
            function setTheme(theme = null){

                    if(theme === null){
                        return;
                    }

                    switch (theme) {
                        case 'red':{

                            document.documentElement.style.setProperty('--main-color', '#4F1B1D');
                            document.documentElement.style.setProperty('--secondary-color', '#83687B');
                            document.documentElement.style.setProperty('--dark-color', '#2E1115');
                            document.documentElement.style.setProperty('--light-color', '#83687B');
                            document.documentElement.style.setProperty('--third-color', '#ADADAD');

                            break;
                        }
                        default:{
                            return;
                            break;
                        }
                    }
                }

            document.addEventListener('DOMContentLoaded', function() {

                let sidenavs = document.querySelectorAll('.sidenav');
                let sidenavsInstances = M.Sidenav.init(sidenavs, {});

                let dropdowns = document.querySelectorAll('.dropdown-trigger');
                let dropdownsInstances = M.Dropdown.init(dropdowns, {
                    constrainWidth: false,
                });

                let router = new Router();

                let theme = null;

                if(router.themeStorageKeyExists()){
                    theme = router.getStorageTheme();
                }

                setTheme(theme);

                });
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>