{% extends "../layouts/base.twig" %}

{% block title %}s'authentifier{% endblock %}

{% block body %}
    <div id="formContent">

            <h2>Connexion</h2>
            <!-- Login Form -->
            <form action="/login" method="post">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="Identifiant...">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe...">
                <input type="submit" class="fadeIn fourth" value="Se connecter">
            </form>

        </div>
{% endblock %}