/*
* ---------------------------------
* VARIABLES
* ---------------------------------
*/

:root{
    --main-color: #557A95;
    --secondary-color: #7395AE;
    --dark-color: #5D5C61;
    --light-color: #938E94;
    --third-color: #B1A296;
    --text-color: #000000;
    --bg-color:#FFFFFF;
    --bg-secondary-color:#FFFFFF;
}

/*:root{
    --main-color: #272727;
    --secondary-color: #BEBEBE;
    --dark-color: #5D5C61;
    --light-color: #414141;
    --third-color: #B1A296;
    --text-color: #f2f2f2;
    --bg-color:#121212;
    --bg-secondary-color:#272727;
}*/

/*
* ---------------------------------
* MATERIALIZE OVERIDE
* ---------------------------------
*/

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

nav{
    background-color: var(--main-color);
}
label{
    color: var(--light-color);
}

nav i.material-icons,button i.material-icons{
    color: #F1F1F1;
}

@media only screen and (min-width: 993px){
    nav a.sidenav-trigger {
        display: block;
    }
}

nav a.sidenav-trigger {
    display: block;
}

.sidenav{
    background-color: var(--bg-color);
}

.sidenav li>a{
    color: var(--text-color);
}

.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons{
    color: var(--light-color);
}

.card{
    background-color: var(--bg-secondary-color);
}

.card span, .card p{
    color: var(--text-color);
}

.collection .collection-item{
    background-color: var(--bg-secondary-color);
}

.collection .collection-item span, .collection .collection-item p{
    color: var(--text-color);
}

.fixed-tabs-wrapper{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index:500;
}

.tabs{
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tabs i {
    color: #FFFFFF;
}

.tabs .indicator{
    background-color: var(--light-color);
}

.tabs .tab{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.light-text{
    color: var(--light-color)!important;
}

.light{
    background-color: var(--light-color);
}

.main{
    background-color: var(--main-color);
}

.main-text{
    color: var(--main-color);
}

.secondary-text{
    color: var(--secondary-color);
}

.secondary{
    background-color: var(--secondary-color);
}

.third{
    background-color: var(--third-color);
}

.third-text{
    color: var(--third-color);
}

i{
    color: var(--light-color);
}

a{
    color: var(--secondary-color);
}

blockquote{
    border-left: 5px solid var(--main-color);
}

.dropdown-content li>a, .dropdown-content li i , .dropdown-content button{
    color: var(--secondary-color);
}

.dropdown-content button{
    font-size: 16px;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-content button i{
    color: var(--secondary-color);
    height: inherit;
    line-height: inherit;
    float: left;
    margin: 0 24px 0 0;
    width: 24px;
}

.btn{
    background-color: var(--main-color);
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: var(--dark-color);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: var(--secondary-color);
}

.input-field .prefix.active {
    color: var(--secondary-color);
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: var(--light-color);
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: var(--secondary-color);
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: var(--secondary-color);
}

input:not([type]).valid ~ label, input[type=text]:not(.browser-default).valid ~ label, input[type=password]:not(.browser-default).valid ~ label, input[type=email]:not(.browser-default).valid ~ label, input[type=url]:not(.browser-default).valid ~ label, input[type=time]:not(.browser-default).valid ~ label, input[type=date]:not(.browser-default).valid ~ label, input[type=datetime]:not(.browser-default).valid ~ label, input[type=datetime-local]:not(.browser-default).valid ~ label, input[type=tel]:not(.browser-default).valid ~ label, input[type=number]:not(.browser-default).valid ~ label, input[type=search]:not(.browser-default).valid ~ label, textarea.materialize-textarea.valid ~ label{
    color: #4CAF50;
}

input:not([type]).invalid ~ label, input[type=text]:not(.browser-default).invalid ~ label, input[type=password]:not(.browser-default).invalid ~ label, input[type=email]:not(.browser-default).invalid ~ label, input[type=url]:not(.browser-default).invalid ~ label, input[type=time]:not(.browser-default).invalid ~ label, input[type=date]:not(.browser-default).invalid ~ label, input[type=datetime]:not(.browser-default).invalid ~ label, input[type=datetime-local]:not(.browser-default).invalid ~ label, input[type=tel]:not(.browser-default).invalid ~ label, input[type=number]:not(.browser-default).invalid ~ label, input[type=search]:not(.browser-default).invalid ~ label, textarea.materialize-textarea.invalid ~ label{
    color: #F44336;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid var(--secondary-color);
    -webkit-box-shadow: 0 1px 0 0 var(--secondary-color);
    box-shadow: 0 1px 0 0 var(--secondary-color);
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
    background-color: var(--main-color);
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
    border: 2px solid var(--main-color);
}
/*
* ---------------------------------
* HELPERS
* ---------------------------------
*/

.m-t-0{
    margin-top:0px!important;
}

.m-l-5{
    margin-left:5px;
}

.m-r-5{
    margin-right:5px;
}

.m-r-10{
    margin-right:10px;
}

.m-l-10{
    margin-left:10px;
}

.m-t-10{
    margin-top:10px;
}
.m-t-20{
    margin-top:20px;
}
.m-b-10{
    margin-bottom:10px;
}
.m-b-20{
    margin-bottom:20px;
}

.m-b-50{
    margin-bottom: 50px;
}

.w-100{
    width:100%!important;
}

.f-16{
    font-size: 16px!important;
}

.d-inline-block{
    display:inline-block!important;
}

.clearfix:before,
.clearfix:after {
        display: table;
        content: " ";
}

.clearfix:after {
    clear: both;
}

.d-none{
    display: none!important;
}

.d-block{
    display: block!important;
}

.pos-r{
    position: relative;
}

.f-right{
    float: right!important;
}

/*
* ---------------------------------
* CUSTOM CSS
* ---------------------------------
*/

.tab-wrapper>div:last-child{
    margin-bottom: 50px;
}

.card-challenge .challenge-realized{
    position: absolute;
    top:-4px;
    right:6px;
}

.card-challenge .card-content .valign-wrapper{
    margin-bottom: 10px;
}

.card-challenge .waves-effect{
    display:block;
    color:black;
}

.card-challenge .valign-wrapper > small{
    margin-left: auto;
}

.card-challenge .challenge-pseudo{

    display: inline-block;
    font-size: 1.15rem;
}

.card-challenge .card-action {

    padding: 6px 24px;
}

.card-challenge .card-action > div {

    display: inline-block;
}

.card-challenge .card-action > div:last-child {

    margin-left: auto;
}

.card-challenge .card-action .valign-wrapper > span {

    display: inline-block;
    margin: 0px 3px;
}

.challenge-personal{
    margin-top: 20px;
    border: none;
}

.challenge-personal .collection-header{

    margin-bottom: 10px;
}

.challenge-personal .collapsible{
    margin: 0px;
    border-top:none;
    border-right:none;
    border-left:none;
}

.challenge-personal .collapsible-header{
    display:block;
}

.challenge-personal .row{
    margin-bottom: 0px;
}

.icon-form button{
    background: transparent;
    border: none;
}

.dropdown-content li a i{
    height: inherit;
    line-height: inherit;
    float: left;
    margin: 0 24px 0 0;
    width: 24px;
}

.dropdown-content li a button{
    color: #26a69a;
}
