{% extends "../layouts/app.twig" %}

{% block title %}Défis - Creation{% endblock %}

{% block body %}
    {{ parent() }}

    <div>
        <h5>Créer votre défis!</h3>
        <div class="divider"></div>
        <!-- Login Form -->
         <div class="row">
            <form action="{{ url }}/challenge/create" method="post" class="col s12">
                {% include 'challenge/form.twig' %}
                <button class="btn waves-effect waves-light" type="submit">
                    Ajouter !
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let wordcounters = document.querySelectorAll('.materialize-textarea');
            let wordcountersInstances = M.CharacterCounter.init(wordcounters, {});
        });
    </script>
{% endblock %}