<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <textarea id="content" name="content" class="materialize-textarea validate {{  formError.content is defined ? 'invalid' : '' }}" data-length="140">{{ formFields.content }}</textarea>
        {% if formError.content is defined %}
            <span class="helper-text" data-error="{{ formError.content }}"></span>
        {% endif %}
        <label for="content">Contenu</label>
    </div>
</div>
<button class="btn waves-effect waves-light" type="submit">
    Ajouter !
    <i class="material-icons right">send</i>
</button>