{% extends "../layouts/app.twig" %}

{% block title %}404 - Ressource introuvable{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col s12">
            <div class="align-center">
                <h1 class="red-text">404</h1>
                <h5 class="red-text">Ressource introuvable</h5>
                <a href="{{ url }}/challenge">Retour aux défis !</a>
            </div>
        </div>
    </div>

{% endblock %}